{% extends 'static.conf.j2' %}
{% block before_server %}
proxy_cache_path /opt/segments levels=2:2 keys_zone=segments:10m inactive=10m min_free=2g;
{% endblock %}
{% block server_end %}
location /healthz {
    return 200 "🧩";
}

location / {
    proxy_cache segments;
    proxy_cache_lock on;
    proxy_cache_valid 15m;
    proxy_ignore_headers Vary Expires Cache-Control;
    proxy_cache_key $scheme$proxy_host$uri;
    proxy_pass {{ proxy_cache_upstream_url }};
}
{% endblock %}
